.container {
    height: 95%;
}

#projects-list {
    margin-top: 20px;
}

#card-list {
    margin-top: 20px;
}

.footer-buttons {
    float: right;
}

.footer-buttons .btn {
    display: block;
    float: left;
    margin: 0 2px;
}

.category-icon {
    width: 30px;
    height: 30px;
    padding-right: 5px;
}